<div class="container">
    <h1>Search Crimes in the UK</h1>
    <div class="form-container">
        <form [formGroup]="searchInput" class="form" (ngSubmit)="onSearchCrimers()">
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="address">Address</label>
                    <input name="address" id="address" formControlName="address" type="text" class="form-control"
                        placeholder="Address" required />
                </div>

                <div class="col-sm-4">
                    <label for="date">Month / Year</label>
                    <input name="date" id="date" formControlName="date" type="month" class="form-control"
                        placeholder="Date" required>
                </div>

                <div class="col-sm-2 submit-container">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="fetchingData; else notLoading">Loading.</div>
    <ng-template #notLoading>
        <div *ngIf="crimeData.length; else elseBlock">
            <p class="lead">Crimes <b>{{crimeData.length}}</b></p>
            <cdk-virtual-scroll-viewport itemSize="18" class="table-window">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Category</th>
                                <th scope="col">Outcome</th>
                                <th scope="col">Street</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-template ngFor let-crime [ngForOf]="crimeData">
                                <tr>
                                    <th scope="row">{{crime.id}}</th>
                                    <td>{{crime.location_type || 'N/a'}}</td>
                                    <td>{{crime.category || 'N/a'}}</td>
                                    <td>{{crime.outcome_status?.category || 'N/a'}}</td>
                                    <td>{{crime.location?.street?.name || 'N/a'}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <ng-template #elseBlock>
            <div><b>1. &nbsp;</b>Start typing the address or the place</div>
            <div><b>2. &nbsp;</b>Choose options from the autocomplete or continue with custom input</div>
            <div><b>3. &nbsp;</b>Select Month / Year from the date input or leave it at the default</div>
        </ng-template>

    </ng-template>
</div>