.container {
    h1 {
        padding-top: 40px;
        @media only screen and (max-width: 600px) {
            padding-top: 20px;
            font-size: 1.5em;
        }
    }

    .submit-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 2px;
        @media only screen and (max-width: 600px) {
            padding-top: 10px;
        }
    }
    
    .form-container {
        padding: 40px 0px 40px 0px;
        @media only screen and (max-width: 600px) {
            padding: 20px 0px 20px 0px;
        }
    }

    .table-window {
        height: calc(90vh - 260px);
        @media only screen and (max-width: 600px) {
            width: 320px;
            height: calc(90vh - 160px);
        }
        @media only screen and (min-width: 768px) {
            width: 640px;
        }
        @media only screen and (min-width: 992px) {
            width: 940px;
        }
        @media only screen and (min-width: 1200px) {
            width: 1110px;
        }
    }
}